  <div class="banner justify-content-between" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2525&q=80); height: 20rem">
    <div class="d-flex flex-column align-items-center pt-5" style="height:80%">
      <h1>Let's watch something</h1>
      <p>And relax a bit.</p>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center">
    <% @lists.each do |list|  %>
      <div class="mx-2 my-2 user-cards text-center justify-content-center" style="width:18rem, background-image:url(<% list.photo.attached? ? cl_image_path(list.photo.key) : @movies.sample.poster_url %>)">
        <%= link_to "#{list.name}", list_path(list), class:"h-100 card-category" %>
      </div>
    <% end %>
    <div class="mx-2 my-2 user-cards text-center justify-content-center" style="width:18rem, background-image:url(<%= @movies.sample.poster_url %>)">
        <%= link_to "Create a list", new_list_path(@list), class:"h-100 card-category" %>
    </div>
</div>
