<div class="container-fluid">
  <%= simple_form_for (@list) do |f| %>
    <%= f.input :name, label: 'List name:', :input_html =>{:class => 'mx-2 my-2'} %>
    <%= f.submit 'Create' %>
  <% end %>
</div>
